* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: sans-serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    opacity: 0;
}

.introduction {
    transform-origin: center;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: 0;
    width: 0;
    height: 0;
    transform: scale(1);
    transition: all 500ms;
    border-radius: 5px;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 0 33px 0 rgba(0, 0, 0, .1);
    font-family: 'Inter', sans-serif;
}

.animated {
    width: 600px;
    height: 540px;
    margin-left: -300px;
    margin-top: -300px;
    transform-origin: center;
    padding: 2em;
}

.text {
    opacity: 0;
    transition: all 500ms;
    color: rgba(0, 0, 0, 0.75);
    height: 630px;
    overflow-y: auto;
}

.text p {
    margin-bottom: 1.5em;
    line-height: 22.5px;
    letter-spacing: -0.4px;
}

.progress-bar-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #d7dae7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#progress-bar[value] {
    width: 30%;
    margin-top: .5%;
    height: 2%;

    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2) inset;
}

progress[value]::-webkit-progress-value {
    border-radius: 4px;
    transition: all 300ms;
    background: linear-gradient(180deg, rgba(175, 191, 253, 0.378) 0%, rgba(148, 165, 194, 1) 49%, rgba(175, 191, 253, 0.378) 100%);
}

label {
    color: #2a2a2a;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-bottom: .5em;
}

.mobile{
    width: 550px!important;
    height: 190px!important;
    margin-top: -120px!important;
    margin-left: 0!important;
    transform: translateX(-50%)!important;
    overflow-y: scroll!important;
    background: rgba(255, 255, 255, .5);
}

.mobile .text{
    transition: all 500ms!important;
    color: rgba(0, 0, 0, 0.75)!important;
    height: auto!important;
}

.mobile .text p {
    margin-bottom: 1.5em;
    line-height: 1.45em;
    letter-spacing: -0.4px;
    font-size: 1em;
}

.mobile.portrait{
    display: none;
}

.portrait-landscape {
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.portrait-landscape.hide{
    transition: all 1000ms;
    opacity: 0!important;
}

.portrait-landscape img{
    width: 250px;
}